.bl-edit-form{
	background-color: #B2EBF2;
	border-radius: 0 0 5px 5px;
	padding: 20px 0;
}
.bl-edit-photo {
	display: none;
}
.bl-left-side.for-crop {
	width: 100%;
	float: left;
}
.bl-left-side.for-crop .bl-about-user {
	padding: 100px 0 0;
}
.bl-left-side.for-crop .spn-user-name {
	margin-bottom: 63px;
}
.cropArea {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 350px;
	padding: 10px;
	background: url('../img/photography.png') repeat 0 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.cropArea:before {
	content: "Select file";
	display: block;
	position: absolute;
	color: #333;
	text-align: center;
	width: 100%;
	font-size: 32px;
	top: 50%;
	margin-top: -32px;
}
.btn-edit-user-photo {
	border: 0;
	background: #2196F3;
	width: 100%;
	color: #ffffff;
	padding: 10px 0;
}
.btn-choose-file {
	display: block;
	border: 0;
	background: #CDDC39;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
}
.btn-choose-file:focus {
	outline: none;
}
#inpt-choose-file {
	display: none;
}
.btn-save-photo {
	border: 0;
	background: #4CAF50;
	width: 100%;
	color: #ffffff;
	padding: 10px 0;
}
.btn-save {
	margin-top: 15px;
	border: 0;
	background: #4CAF50;
	width: 100%;
	color: #ffffff;
	padding: 10px 0;
}
input[type="text"],
input[type='email'] {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #2196F3;
	width: 100%;
	padding: 5px 10px;
}