.bl-video-bg {
	width: 100%;
	position: fixed; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
}
.bl-video-bg iframe,
.bl-video-bg object, 
.bl-video-bg embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
} 
.tabs-content {
	display: none;
}
.tabs-content.active {
	display: block;
}
.bl-video-container,
.bl-login-register-form {
	width: 50%;
	float: left;
	min-height: 1px;
	height: 100vh;
	position: relative;
}
.bl-login-register-form {
	background-color: rgba(73, 74, 103, 0.8);
	text-align: center;
}
.bl-login-register-form .logo {
	font-size: 52px;
	color: #ffffff;
}
.bl-login-register-form .logo-text {
	color: #ffffff;
	font-size: 24px;
	font-family: 'Lobster', cursive;
}
.bl-login-register-form-content {
	width: 50%;
    margin: auto;
    padding: 30px;
    position: relative;
}
.bl-login-register-form-content footer {
	padding-top: 50px;
	color: #ffffff;
}
.tab-navigation {
	text-align: center;
}
.tab-navigation ul{
	padding: 0;
	margin: 0; 
}
.tab-navigation ul li{
	display: inline-block;
	padding: 5px 15px;
	background: transparent;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
.tab-navigation ul li:hover {
	cursor: pointer;
	color: #2196F3;
}
.tabs {
	padding-top: 15px;
}
.tabs-content h3 {
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #ffffff;
	font-weight: 400;
	font-size: 26px;
}
.tabs-content form {
	text-align: center;
}
.tabs-content label {
	color: #ffffff;
}
.tabs-content label:hover {
	cursor: pointer;
}
.tabs-content input[type="email"],
.tabs-content input[type="password"] {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	padding: 5px 10px;
	display: block;
	color: #ffffff;
	height: 34px;
}
.tabs-content input[type="email"]:focus,
.tabs-content input[type="password"]:focus {
	outline: none;
	border-bottom: 1px solid #2196F3;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,1) inset;
}
.tabs-content input[type="email"] {
	margin-bottom: 10px;
}
.tabs-content input[type="button"] {
	border: 0;
	background: #2196F3;
	margin-top: 25px;
	width: 100%;
	color: #ffffff;
	padding: 10px 0;
}
div.error {
	display: none;
	padding: 5px;
	color: #ffffff;
	background-color: #F44336;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.error:hover{
	cursor: pointer;
}