/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */html, body {
    height: 100%}
html, button, input, select, textarea {
    color: #222;
}
/*Grid*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
    html { font-size: 112%; }
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
    html { font-size: 120%; }
}
.container {
    margin: 0 auto;
    max-width: 48rem;
    width: 90%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/*End Grid*/

html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, img, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.bl-left-side {
    display: table;
    height: auto;
    position: relative;
    background-color: #64B5F6;
    width: 100%}
.bl-left-side .bl-photo {
    background: url('../img/photography.png') repeat 0 0;
    padding: 0;
    height: 100px;
    position: relative;
    border-bottom: 3px solid #ffffff;
}
.bl-left-side .bl-photo .img-user-photo {
    width: 100px;
    height: 100px;
    display: block;
    background: #ccc;
    margin-left: -50px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid #ffffff;
    bottom: -50px;
    left: 50%}
.bl-left-side .bl-about-user {
    float: left;
    padding: 60px 0 25px;
    width: 100%}
.bl-left-side .bl-about-user .spn-user-name {
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    display: block;
}
.pet-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.pet-container::after {
    content: '';
    display: table;
    clear: both;
}
#pet-timeline {
    position: relative;
    padding: 2em 0;
    margin-bottom: 2em;
}
#pet-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #64B5F6;
}
@media only screen and (min-width: 1170px) {
    #pet-timeline {
        margin-bottom: 3em;
    }
    #pet-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}.pet-timeline-block {
     position: relative;
     margin: 2em 0;
 }
.pet-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.pet-timeline-block:first-child {
    margin-top: 0;
}
.pet-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .pet-timeline-block {
        margin: 4em 0;
    }
    .pet-timeline-block:first-child {
        margin-top: 0;
    }
    .pet-timeline-block:last-child {
        margin-bottom: 0;
    }
}.pet-timeline-img {
     position: absolute;
     top: 0;
     left: 0;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
 }
.pet-timeline-img.pet-picture {
    background: #ff4081;
}
.pet-timeline-img.pet-movie {
    background: #c03b44;
}
.pet-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
@media only screen and (min-width: 1170px) {
    .pet-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .pet-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .pet-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}@-webkit-keyframes cd-bounce-1 {
     0% {
         opacity: 0;
         -webkit-transform: scale(0.5);
     }
     60% {
         opacity: 1;
         -webkit-transform: scale(1.2);
     }
     100% {
         -webkit-transform: scale(1);
     }
 }@-moz-keyframes cd-bounce-1 {
      0% {
          opacity: 0;
          -moz-transform: scale(0.5);
      }
      60% {
          opacity: 1;
          -moz-transform: scale(1.2);
      }
      100% {
          -moz-transform: scale(1);
      }
  }@keyframes cd-bounce-1 {
       0% {
           opacity: 0;
           -webkit-transform: scale(0.5);
           -moz-transform: scale(0.5);
           -ms-transform: scale(0.5);
           -o-transform: scale(0.5);
           transform: scale(0.5);
       }
       60% {
           opacity: 1;
           -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
           -ms-transform: scale(1.2);
           -o-transform: scale(1.2);
           transform: scale(1.2);
       }
       100% {
           -webkit-transform: scale(1);
           -moz-transform: scale(1);
           -ms-transform: scale(1);
           -o-transform: scale(1);
           transform: scale(1);
       }
   }.pet-timeline-content {
        position: relative;
        margin-left: 60px;
        background: #E0E0E0;
        border-radius: 0.25em;
        padding: 1em;
    }
.pet-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.pet-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #E0E0E0;
}
.pet-timeline-content img {
    width: 100%}
.pet-timeline-content .pet-date {
    font-size: 13px;
    font-size: 0.8125rem;
    display: inline-block;
    float: left;
    padding: 0.8em 0;
    opacity: 0.7;
}
@media only screen and (min-width: 768px) {
    .pet-timeline-content .pet-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}@media only screen and (min-width: 1170px) {
    .pet-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 40%}
    .pet-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #E0E0E0;
    }
    .pet-timeline-content .pet-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .pet-timeline-block:nth-child(even) .pet-timeline-content {
        float: right;
    }
    .pet-timeline-block:nth-child(even) .pet-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #E0E0E0;
    }
    .pet-timeline-block:nth-child(even) .pet-timeline-content .pet-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .pet-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .pet-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}@media only screen and (min-width: 1170px) {
    .cssanimations .pet-timeline-block:nth-child(even) .pet-timeline-content.bounce-in {
                                                            -webkit-animation: cd-bounce-2-inverse 0.6s;
                                                            -moz-animation: cd-bounce-2-inverse 0.6s;
                                                            animation: cd-bounce-2-inverse 0.6s;
                                                        }
}@-webkit-keyframes cd-bounce-2 {
     0% {
         opacity: 0;
         -webkit-transform: translateX(-100px);
     }
     60% {
         opacity: 1;
         -webkit-transform: translateX(20px);
     }
     100% {
         -webkit-transform: translateX(0);
     }
 }@-moz-keyframes cd-bounce-2 {
      0% {
          opacity: 0;
          -moz-transform: translateX(-100px);
      }
      60% {
          opacity: 1;
          -moz-transform: translateX(20px);
      }
      100% {
          -moz-transform: translateX(0);
      }
  }@keyframes cd-bounce-2 {
       0% {
           opacity: 0;
           -webkit-transform: translateX(-100px);
           -moz-transform: translateX(-100px);
           -ms-transform: translateX(-100px);
           -o-transform: translateX(-100px);
           transform: translateX(-100px);
       }
       60% {
           opacity: 1;
           -webkit-transform: translateX(20px);
           -moz-transform: translateX(20px);
           -ms-transform: translateX(20px);
           -o-transform: translateX(20px);
           transform: translateX(20px);
       }
       100% {
           -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
           -ms-transform: translateX(0);
           -o-transform: translateX(0);
           transform: translateX(0);
       }
   }@-webkit-keyframes cd-bounce-2-inverse {
        0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }@-moz-keyframes cd-bounce-2-inverse {
         0% {
             opacity: 0;
             -moz-transform: translateX(100px);
         }
         60% {
             opacity: 1;
             -moz-transform: translateX(-20px);
         }
         100% {
             -moz-transform: translateX(0);
         }
     }@keyframes cd-bounce-2-inverse {
          0% {
              opacity: 0;
              -webkit-transform: translateX(100px);
              -moz-transform: translateX(100px);
              -ms-transform: translateX(100px);
              -o-transform: translateX(100px);
              transform: translateX(100px);
          }
          60% {
              opacity: 1;
              -webkit-transform: translateX(-20px);
              -moz-transform: translateX(-20px);
              -ms-transform: translateX(-20px);
              -o-transform: translateX(-20px);
              transform: translateX(-20px);
          }
          100% {
              -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
              -ms-transform: translateX(0);
              -o-transform: translateX(0);
              transform: translateX(0);
          }
      }.ir {
           background-color: transparent;
           border: 0;
           overflow: hidden;
           *text-indent: -9999px;
       }
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a {
        text-decoration: underline;
    }
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")"}
    abbr[title]:after {
        content: " (" attr(title) ")"}
    .ir a:after {
        content: ""}
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""}
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}