.logout-button {
	top: 78px;
	right: 25px;
	background-color: #F44336;
}
.edit-button {
	top: 78px;
	right: 90px;
	background-color: #CDDC39;
	
}
.btn {
	position: absolute;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 22px;
	border: 0;
	color: #fff;
	border-radius: 50%;
	outline: none;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}