<section class="bl-left-side" ng-controller="HeaderCtrl">
    <div class="bl-photo">
        <img ng-src="{{user_info.pet_photo}}" alt="" class="img-user-photo">
        <button class="btn edit-button" type="button" ng-click="timeline()" title="Edit profile"><i class="fa fa-paw"></i></button>
        <button class="btn logout-button" type="button" ng-click="logout()" title="Log out"><i class="fa fa-sign-out"></i></button>
    </div>
    <div class="bl-about-user">
        <span class="spn-user-name">{{user_info.pet_name}}</span>
    </div>
</section>
<section class="container bl-edit-form">
    <div class="column half">
        <button class="btn-edit-user-photo">Edit photo</button>
        <form id="userChangePhoto">
            <div class="bl-edit-photo">
                <section class="bl-left-side for-crop" ng-controller="HeaderCtrl">
                    <div class="bl-photo">
                        <img ng-src="{{myCroppedImage}}" alt="" class="img-user-photo">
                    </div>
                    <div class="bl-about-user">
                    </div>
                </section>
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="bl-choose-file">
                    <input type="file" id="inpt-choose-file" />
                    <a href="javascript:void(0)" class="btn-choose-file">Select file</a>
                </div>
                <input type="submit" class="btn-save-photo" value="Save photo" />
                <input type="hidden" name="token" value="">
                <input type="hidden" name="userPhoto" value="{{myCroppedImage}}"/>
            </div>
        </form>
    </div>
    <div class="column half">
        <form id="userEditInform">
            <input id="pet-photo" type="hidden" value="{{user_info.pet_photo}}" ng-model="user_info.pet_photo"/>
            <label for="name">Pet name</label><br />
            <input id="name" type="text" value="{{user_info.pet_name}}" ng-model="user_info.pet_name"/><br />
            <label for="email">Email</label><br />
            <input id="email" type="email" value="{{user_info.email}}" ng-model="user_info.email"/><br />
            <label for="birthday">Birthday</label><br />
            <input id="birthday" type="text" pick-a-date="date" pick-a-date-options="options" data-value="{{user_info.pet_birthday}}"  ng-model="user_info.pet_birthday" placeholder="Select Date"/><br />
            <input id="btnSave" type="button" ng-click="save(user_info)" value="Save" class="btn-save" />
        </form>
    </div>
    <div class="clearfix"></div>
</section>