<section class="bl-left-side" ng-controller="HeaderCtrl">
    <div class="bl-photo">
        <img ng-src="{{user_info.pet_photo}}" alt="" class="img-user-photo">
        <button class="btn edit-button" type="button" ng-click="edit()" title="Edit profile"><i class="fa fa-pencil"></i></button>
        <button class="btn logout-button" type="button" ng-click="logout()" title="Log out"><i class="fa fa-sign-out"></i></button>
    </div>
    <div class="bl-about-user">
        <span class="spn-user-name">{{user_info.pet_name}}</span>
    </div>
</section>