<div ng-controller="RegistrationController">
	<div class="bl-video-bg">
		<iframe id="vimeo_player"
			src='https://player.vimeo.com/video/19376057?api=1&player_id=vimeo_player&autoplay=1&loop=1&title=0&byline=0&portrait=0'
			frameborder='0'
			webkitAllowFullScreen
			mozallowfullscreen
			allowFullScreen>
		</iframe>
	</div>
	<div class="bl-video-container">

	</div>
	<div class="bl-login-register-form">
		<div class="bl-login-register-form-content">
			<i class="logo fa fa-paw"></i><br/>
			<span class="logo-text">Petstagram</span>
			<div class="tabs">
				<div class="tab-navigation">
					<ul>
						<li class="login">Login</li>
						<li class="register">Registration</li>
					</ul>
				</div>
				<div class="tabs-content login active" data-type="login">
					<form validate autocomplete="off" class="login-form">
						<input style="display:none" type="text" name="fakeusernameremembered"/>
						<input style="display:none" type="password" name="fakepasswordremembered"/>
						<h3>Login</h3>
				        <label for="login-email">Email</label><br />
				        <input id="login-email" type="email" ng-model="user.email" value=""/><br />
				        <label for="login-password">Password</label><br />
				        <input id="login-password" type="password" ng-model="user.password" value=""/><br />
				        <div class="error"></div>
				        <input type="button" ng-click="login(user)" value="Sign in" />
				    </form>
				</div>
				<div class="tabs-content register" data-type="register">
					<form validate autocomplete="off" class="register-form">
						<input style="display:none" type="text" name="fakeusernameremembered"/>
						<input style="display:none" type="password" name="fakepasswordremembered"/>
						<h3>Registration</h3>
				        <label for="register-email">Email</label><br />
				        <input id="register-email" type="email" ng-model="user.email" value=""/><br />
				        <label for="register-password">Password</label><br />
				        <input id="register-password" type="password" ng-model="user.password" value=""/><br />
				        <label for="register-password">RePassword</label><br />
				        <input id="register-password" type="password" ng-model="user.repassword" value=""/><br />
				        <div class="error"></div>
				        <input type="button" ng-click="register(user)" value="Registration" />
				    </form>
				</div>
			</div>
			<footer>© 2015 - Petstagram</footer>
		</div>
	</div>
</div>