<div ng-include="'view/header.html'"></div>
<section id="pet-timeline" class="pet-container" ng-controller="TimelineListCtrl">
    <div class="pet-timeline-block" ng-repeat="pet in pets">
        <div class="pet-timeline-img pet-picture">
            <img src="img/cd-icon-picture.svg" alt="Picture">
        </div>
        <div class="pet-timeline-content">
            <img ng-src="{{pet.photo}}" alt="">
            <span class="pet-date">{{pet.date}}</span>
        </div> 
    </div>
</section>